body {

	background: url("wet_snow.png");
	margin-top: 9%;
	font-weight: 400;

}


.maincontent{
	width: 960px;
	margin-left:  auto;
	margin-right: auto;
}


.navbar-brand img{
	margin-top:10px;
	width: 125px;
	height: auto;
	margin-left: 10%;
	font-family: allura;

}

#menu a {

	
	font-family: Raleway;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar {
	margin-bottom:0px;
	background-color: white;


}
.navbar-nav li a {

    line-height: 200px;
    height: 125px;
    padding-top: 0; 
    background-color: white;  


}

.navbar-brand {
	width: 150px;
	margin-top: 28px;
	vertical-align: middle;

}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {

    color: #ffad6b;
    background-color: white;
}

.navbar-custom .navbar-nav >li a:hover {
	color: #ffad6b;

}


.carousel-inner {
	height: aut;
	padding: 0;	
}

.active li a {
	background-color: none;
}
#section1 p,
#section2 p,
#section3 p,
hr {
	margin: -10px;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 1.5em;
	
}

#section2 h1,
#section3 h1 {
	font-family: "futura";
	text-align: center;

}

#section3 ul li {
	font-family: "futura";
	list-style: none;
	
}

.menuitems li {
	text-align: center;
	width: 400px;
	margin: 10px auto 10px auto;
}






